@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'TT Hoves';
    src: url('fontes/TTHovesBold.ttf') format('truetype');
    font-family: 'TT Hoves';
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

:root{
    --fontep:'TT Hoves', sans-serif;
    --fonte-auxiliar: 'Poppins', sans-serif;
}

body{
    background-image: url('imagens/fundo.png'); 
    background-repeat: no-repeat;
    background-size: cover; /* cobre toda a tela */
    height: 100vh;;
}

nav{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 200px;
}

nav a{
    font-family: var(--fonte-auxiliar);
    color: white;
}

h1{
    font-family: var(--fontep);
    color: white;
}

p{
    font-family: var(--fonte-auxiliar);
    color: white;
}

